<div class="container-fluid title-wrapper">
  <h1>Edit Meal Plan: <%= @meal_plan %></h1>
</div>
<div class="custom-wrapper">
<div class="container">
<div class="meal-plan-content">

  <%= render partial: "form" %>
</div>
</div>
</div>
