<div class="container-fluid title-wrapper">
  <h1>Edit Recipe</h1>
</div>
<div class="custom-wrapper">
  <div class="container">
    <div class="recipe-content">
      <%= render partial: "form" %>
    </div>
  </div>
</div>
