   <div class="slogan">
      <!-- <h2><i>No More "What's For Dinner" Speculations. We've Got You Covered.</i></h2> -->
      <!-- <h3>We've Got You Covered.</h3> -->
      <%= image_tag "MealEasy-slide.png", class: "img-fluid", text: "MealEasy Healthy Food Photography" %>
    </div>
  

<% if signed_in? %>
<div>
  <div class="get-started">
  <div class="container get-started-box">
  <h2>Let's Get Started by Creating a...</h2>
        <%= link_to "New Recipe", new_recipe_path, class: "btn btn-primary" %>
        </div>
    </div>
    </div>
    <% end %>