<div class="jumbotron jumbotron-fluid hero-banner">
  <div class="container">
    <h1 class="display-4">Take the thinking out of<br> "What's for dinner?"</h1>
    <p class="lead">MealEasy is a simple, healthy, and delicious <b><i>free</i></b> way<br> to cook at home.</p>
  </div>
</div>

<div class="get-started vertical-center">
  <div class="container">
    <h1>Live your best life.</h1>
    <p>Eat better, take back your stressful evenings, and <b>feel great about yourself.</b></p>
    <%= link_to "Create New Recipe", new_recipe_path, class: "btn btn-success" %>
  </div>
</div>
